# CINEXUS Platform Environment Variables
DATABASE_URL=postgresql://postgres.cerweawmrpfytkjcpnxg:@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
DIRECT_URL=postgresql://postgres:@db.cerweawmrpfytkjcpnxg.supabase.co:5432/postgres

TMDB_API_KEY=abdcc6777a98f6195e7adc6b7d50ed8b
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYmRjYzY3NzdhOThmNjE5NWU3YWRjNmI3ZDUwZWQ4YiIsIm5iZiI6MTc4Njg1ODgxMy4wNTUsInN1YiI6IjZhODE0ZDNkOTI4MTYxNTM3NjJiMTIyNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.bnuVpWeDRRerLPOyGYF8BTV5helM2u1SR9C_WTHQbg0

CLOUDINARY_CLOUD_NAME=stmbdocy
CLOUDINARY_API_KEY=428348967296846
CLOUDINARY_API_SECRET=XRQc0XfZlBo-rn896RxTAQFFlbE

RESEND_API_KEY=re_iqtTbBWA_NnaDBub19gG49ZmXzYuLpsqV
RESEND_FROM_EMAIL=ashx8designs@gmail.com

AUTH_SECRET=AUTH_6x9f_kL29_mPz1_99v0_RST

NEXT_PUBLIC_SITE_URL=http://localhost:3000
